@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}


:root {
 --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0; /* neutral-900 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)); /* Solid dark background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 599px) {
  .react-player {
    width: 90% !important;
    height: auto !important;
  }
}